#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# ROUTES
#--------------------------------------------------

  #--------------------------------------------------
  # ROUTES DES POSTS
  #--------------------------------------------------

    # LISTE DES POSTS (On arrive sur la liste des posts)
    # PATTERN: posts
    # URL: index.php?posts
    RewriteRule ^posts$ index.php?posts [L]

    # ROUTE D'UN POST
    # PATTERN: posts/id/slug.html (titre = Article 1) => (slug: article-1)
    # URL: post.php?ID=x
    RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*$ index.php?postId=$1 [L]

    # AJOUT POSTS: FORMULAIRE (On arrive sur le formulaire pour ajouter un post)
    # PATTERN: posts/add/form
    # URL: index.php?posts=addForm
    RewriteRule ^posts\/add\/form$ index.php?posts=addForm [L]

    # AJOUT D'UN POST: INSERT
    # PATTERN: posts/add/insert
    # URL: index.php?posts=addInsert
    RewriteRule ^posts\/add\/insert$ index.php?posts=addInsert [L]

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
